{% from "partials/logo.njk" import logoMark %}
<nav>
  <a class="brand" href="/">
    {{ logoMark() }}
    <span class="brand-name">Henriks <em>Honning</em></span>
  </a>
  <div class="menu">
    <a href="/#artikler">Artikler</a>
    <a href="/#aaret">Året i bigården</a>
    <a href="/om/">Om</a>
    <a href="/om/#kontakt">Kontakt</a>
  </div>
</nav>
